<%= display_meta_tags site: 'Studio Carney Architecture | Portfolio' %>

<div class="container-fluid body-design">
  <div class="row">
    <div class="design-background">
      <%= image_tag "town.jpg" %>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-muted">Portfolio</h1>
        <p class="lead">Studio Carney Architecture is passionate about helping our Clients achieve their vision. Our firm is based on the principal that each project begins with the vision of the Client. Our goal is to take your vision and apply our imagination and technical experience to help translate that into a built environment. We believe each project should be a collaborative effort and work to include the Client in the design process.</p>
      </div>
    </div>
    <br>
    <br>
    <hr>
  </div>
</div>



