<div class="container-fluid">
  <div class="row">
    <div class="media-body text-center">
      <div class="col-md-12 col-adjust-footer">
        <div class="footer-information">
          <div class="col-md-4">
          <span class="latin-footer text-center">I</span><br>
            2015-2016 Studio Carney Architecture, Inc,<br>All Rights Reserved
          </div>
          <div class="col-md-4 ala-image">
          <span class="text-center"></span><br>
            <%= image_tag("ALA-Member-Color-Apr1.jpg") %>
          </div>
          <div class="col-md-4">
          <span class="latin-footer text-center">I</span><br>
            847-701-4138<br>mcarney@studiocarney.com
          </div>
<!--         <span class="latin-mid text-center">a(X)f</span>
 -->     </div>
      </div>
    </div>
  </div>
</div>

