<div class="container-fluid footer-2">
  <div class="row">
    <div class="media-body text-center">
      <div class="col-md-12 col-adjust-footer">
        <div class="footer-information">
          <div class="col-md-4 footer-information-2">
            <p>2015-2017 Studio Carney Architecture, Inc.,<br>All Rights Reserved</p>
          </div>
          <div class="col-md-4 ala-image">
          <span class="text-center"></span><br>
            <%= image_tag("ALA-Member-Color-Apr1.jpg") %>
          </div>
          <div class="col-md-4 footer-information-2">
            <p>847-701-4138<br>mcarney@studiocarney.com</p>
          </div>
<!--         <span class="latin-mid text-center">a(X)f</span>
 -->     </div>
      </div>
    </div>
  </div>
</div>

