<div class="hire-me">
  <div class="col-md-12 text-center hire-me-text" %>
    <div class="latin">
      &#x22
    </div>
    Studio Carney
    <br>
    est. 2015
    <br>
    <%= link_to "Get in touch with us", new_contact_path %>
  </div>
</div>