<section class="container-fluid about-body">
  <div class="col-md-12 about-me">
    <h1 class="about-header-image media-heading about-heading">Studio Carney Architecture</h1>
    <p>The language of Architecture can be a difficult one to understand. At Studio Carney Architecture, we pride ourselves in helping translate the language of Architecture into something less intimidating. Designing a home, an office or even something as small as a deck, should be a fun and creative experience.<br> Studio Carney Architecture is passionate about helping our Clients achieve their vision. Our firm is based on the principal that each project begins with the vision of the Client. Our goal is to take your vision and apply our imagination and technical experience to help translate that into a built environment.  We believe each project should be a collaborative effort and work to include the Client in the design process.<br> We hope that we may have the opportunity to work with you in building your vision!<br>Michael Carney, ALA<br>Founder</p>
    <h1 class="media-heading about-header-mike about-heading">Michael Carney</h1>
    <p>Michael received his education from the University of Wisconsin-Milwaukee. While at UWM, Michael participated in a Historic Preservation and Restoration program located in San Gemini, Italy. His passion for Architecture and broadening his experiences has recently lead him to continue his post graduate education at Southern Illinois University.<br> Michael has worked on multiple residential projects located throughout the Country. He has also worked on a variety of corporate projects in Chicago and the surrounding suburbs. Michael has recently been involved in an increasing number of commercial developments located in the Chicagoland area.<br> Outside of Architecture, Michael is a published photographer who enjoys sharing his view of the world through his imagery.  Michael currently holds an Architectural License in Illinois and Wisconsin. Michael is also a member of the Association of Licensed Architects.</p>
  </div>
</section>
<%= render partial: 'welcome/hire_me' %>


