      <div class="container background-white">
      <div class="media">
      <div class="media-body">
        <div class="media-heading">
          <section class="hero-about">
            <h1>Studio Carney Architecture</h1>
          </section>
          <section class="about-mid about-description">
           <br><p>The language of Architecture can be a difficult one to understand. At Studio Carney Architecture, we pride ourselves in helping translate the language of Architecture into something less intimidating. Designing a home, an office or even something as small as a deck, should be a fun and creative experience.</p>
          <p>Studio Carney Architecture is passionate about helping our Clients achieve their vision. Our firm is based on the principal that each project begins with the vision of the Client. Our goal is to take your vision and apply our imagination and technical experience to help translate that into a built environment.  We believe each project should be a collaborative effort and work to involve the members of the team as much or as little as they wish in the design process.</p>
          <p>We hope that we may have the opportunity to work with you in building your vision!</p>
          <p>Michael Carney, ALA</p>
          <p>Founder</p><br>
          </section>
        </div>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <div class="media-heading">
          <section class="hero-about-2">
            <h1>Michael Carney</h1>
          </section>
          <section class="about-mid-2 about-description">
           <br><p>Michael received his education from the University of Wisconsin-Milwaukee. While at UWM, Michael participated in a Historic Preservation and Restoration program located in San Gemini, Italy. He spent two summers documenting, restoring and preserving portions of a 14th Century Church.</p>
          <p>Michael has over 15 years of experience spanning nationwide. His project experience includes single family and multi-family residential design, retail design, corporate offices, public facilities including banks, community centers and libraries. Michael also has worked on multiple government projects at the City, County and Federal levels.</p>
          <p>Outside of architecture, Michael is a published photographer who enjoys sharing his view of the world through his imagery. He enjoys reading, sketching and traveling. He is currently learning German for an upcoming trip to Europe.</p>
          <p>Michael is a licensed Architect in Illinois and is obtaining licensure in Wisconsin.</p>
        </section>
        </div>
      </div>
    </div>



