  <p class="text-center front-title">TRANSLATING THE LANGUAGE OF ARCHITECTURE</p>

  <section class="front-mid">
  <div class="col-md-4 text-center">
    <h5 class="point-title">Experience</h5>
    <p class="point-description">Includes single family and multi-family residential design, retail design, corporate offices, public facilities including banks, community centers and libraries.</p>
  </div>
  <div class="col-md-4 text-center">
    <h5 class="point-title">Collaboration</h5>
    <p class="point-description">We believe each project should be a collaborative effort and work to involve the members of the team as much or as little as they wish in the design process.</p>
  </div>
  <div class="col-md-4 text-center">
    <h5 class="point-title">Imagination</h5>
    <p class="point-description">Our goal is to take your vision and apply our imagination and technical experience to help translate that into a built environment.</p>
  </div>
</section>
</div>