<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center front-title">Studio Carney</div>
        <div class="text-center architecture-border">ARCHITECTURE</div>
        <div class="text-center translating-front-text">"Translating the language of architecture"</div>
      </div>

      <div class="front-mid">
        <div class="col-md-4 col-adjust text-center">
          <span class="latin text-center">&#x7E</span>
          <h5 class="point-title">Experience</h5>
          <p class="point-description">Includes single family and multi-family residential design, retail design, corporate offices, public facilities including banks, community centers and libraries.</p>
        </div>
        <div class="col-md-4 col-adjust text-center">
          <span class="latin text-center">&#x3B</span>
          <h5 class="point-title">Collaboration</h5>
          <p class="point-description">We believe each project should be a collaborative effort and work to involve the members of the team as much or as little as they wish in the design process.</p>
        </div>
        <div class="col-md-4 col-adjust text-center">
          <span class="latin text-center">&#x22</span>
          <h5 class="point-title">Vision</h5>
          <p class="point-description">Our goal is to take your vision and apply our imagination and technical experience to help translate that into a built environment.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="media-body text-center">
      <div class="col-md-12 col-adjust-mid">
        <span class="latin-mid text-center">a(X)f</span>
        <h1 class="media-heading media-heading-adjust">Working with Michael brought us...</h1>
        <div class="front-testimonial"> Working with Michael brought us results that exceeded our expectations.  Michael listened to our needs, presented options and led us to decisions that maximized the use of our space and budget.  We couldn’t be more pleased with the end result and are the envy of all our friends when we show it off.I am pleased to recommend Michael Carney as an architect. My husband doesn’t want to hear about my next remodeling project, but I will be engaging Michael in the future for our next set of plans.<br> We love our new space!<br>~Patti</div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="row thumbnail-background">
    <div class="col-sm-6">
      <div class="thumbnail text-center">
        <%= image_tag("stoplight.jpg") %>
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail text-center">
        <%= image_tag("stoplight.jpg") %>
        <div class="caption">
          <h3>Thumbnail label</h3>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>
</div> -->