<p class="text-center front-title">TRANSLATING THE LANGUAGE OF ARCHITECTURE</p>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active picture">
      <%= image_tag("stoplight.jpg") %> 
    </div>
    <div class="item picture">
      <%= image_tag("ceilinglight.jpg") %> 
    </div>
      <div class="item picture">
      <%= image_tag("studio2.jpg") %> 
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="row front-mid">
  <div class="col-md-4 text-center">
    <h5 class="point-title">Experience</h5>
    <p class="point-description">Includes single family and multi-family residential design, retail design, corporate offices, public facilities including banks, community centers and libraries.</p>
  </div>
  <div class="col-md-4 text-center">
    <h5 class="point-title">Collaboration</h5>
    <p class="point-description">We believe each project should be a collaborative effort and work to involve the members of the team as much or as little as they wish in the design process.</p>
  </div>
  <div class="col-md-4 text-center">
    <h5 class="point-title">Imagination</h5>
    <p class="point-description">Our goal is to take your vision and apply our imagination and technical experience to help translate that into a built environment.</p>
  </div>
</section>