<section class="container-fluid contact-body text-center">
  <div class="row">
    <h1 class="hero-contact">Contact us</h1>
     <div class="col-md-12">
      <h1>Thank you for your message!</h1>
      <p>We'll get back to you soon</p>
    </div>
  </div>
</section>