<%= display_meta_tags site: 'Studio Carney Architecture | Services' %>

<div class="container-fluid services">
  <div class="row">
    <div class="design-background">
      <%= image_tag "town-2.jpg" %>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-muted">Architectural Services by Studio Carney</h1>
        <p class="lead">The language of Architecture can be a difficult one to understand. At Studio Carney Architecture, we pride ourselves in helping translate the language of Architecture into something less intimidating. Designing a home, an office or even something as small as a deck, should be a fun and creative experience.</p>
      </div>
    </div>
    <hr>
    <div class="row"> 
      <div class="col-md-6">
        <ul>
          <h1 class="text-muted">Accessibility Compliance</h1>
          <h1 class="text-muted">Adaptive Reuse</h1>
          <h1 class="text-muted">Building Additions</h1>
          <h1 class="text-muted">Building Renovations</h1>
          <h1 class="text-muted">Construction Bid Assistance</h1>
          <h1 class="text-muted">Contract Documents and Administration</h1>
          <h1 class="text-muted">Design</h1>
          <h1 class="text-muted">Entitlement Services</h1>
          <h1 class="text-muted">Existing Conditions Assessment</h1>

        </ul>
      </div>
      <div class="col-md-6">
        <ul>
          <h1 class="text-muted">Feasibility Studies</h1>
          <h1 class="text-muted">Field Verification</h1>
          <h1 class="text-muted">Historic Preservation and Renovation</h1>
          <h1 class="text-muted">Master Planning</h1>
          <h1 class="text-muted">New Building Design</h1>
          <h1 class="text-muted">Preliminary Budgeting</h1>
          <h1 class="text-muted">Programming</h1>
          <h1 class="text-muted">Project Management</h1>
          <h1 class="text-muted">Punchlist/Project Closeout</h1>
          <h1 class="text-muted">Relocation Assistance</h1>
        </ul>
      </div>
    </div>
    <br>
      <br>
      <%= link_to "Contact Us", new_contact_path, class: "btn btn-default col-xs-6 col-xs-offset-3" %>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
  </div>
</div>