<div class="services">
  <div class="text-center services-header">
    <span class="design-frank-text">6</span>Services<span class="design-frank-text">6</span>
  </div>

  <div class="container-fluid">
    <div class="col-xs-12 text-center services-bullet">
        Feasibility Studies<hr>
        Programming<hr>
        Entitlement Services<hr>
        Construction Phase Administration<hr>
        Consultation Services<hr>
        Due Diligence<hr>
        Design<hr>
        Bidding and Negotiation<hr>
        Construction Documentation and Specifications<hr>
        
    </div>
  </div>
</div>
