<div class="services">
  <div class="text-center services-header">
    <span class="design-frank-text">6</span>Services<span class="design-frank-text">6</span>
  </div>

  <div class="container">
    <div class="row services-bullet">
      <ul class="col-md-6">
        <li>Feasibility Studies</li>
        <li>Programming</li>
        <li>Entitlement Services</li>
        <li>Construction Phase Administration</li>
        <li>Consultation Services</li>
      </ul>
      <ul class="col-md-6">
        <li>Due Diligence</li>
        <li>Design</li>
        <li>Bidding and Negotiation</li>
        <li>Construction Documentation and specifications</li>
      </ul>
    </div>
  </div>
</div>
