@import "//hello.myfonts.net/count/2ce4aa";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "designs";
@import "font-awesome";
@import "contact";
@import "service";
@import "variables";

@font-face {
  font-family: 'P22FLLWTerracotta';
  src:font-url('webfonts/P22FLLWTerracotta.otf') format('truetype');
}

@font-face {
font-family: 'P22FLLWTerracottaExtra';
src:font-url('webfonts/2CE4AA_0_0.eot');
src:font-url('webfonts/2CE4AA_0_0.eot?#iefix') format('embedded-opentype'),
  url('webfonts/2CE4AA_0_0.woff2') format('woff2'),
  url('webfonts/2CE4AA_0_0.woff') format('woff'),
  url('webfonts/2CE4AA_0_0.ttf') format('truetype');
}


body { 
  background-image: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  font-family: "source-sans-pro", sans-serif;
  width: 100%;
  height: 100%;
  z-index: -1;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: 'P22FLLWTerracotta';
}

.container-fluid-dark {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-default {
  border: none;
}

.navbar-adjust {
  background-color: transparent;
}

.navbar-adjust-scroll {
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar-adjust .navbar-nav > li > a {
  color: #ffffff;
  &:hover {
    color: #DDDDDD;
    cusor: pointer;
  }
}

.navbar-adjust-scroll .navbar-nav > li > a {
  color: #404040;
  &:hover {
    color: #111111;
    cusor: pointer;
  }
}

.navbar-default .navbar-nav > li > a {
  font-family: "source-sans-pro", sans-serif;
  font-weight: 300;
  &:active {
    color: #fff !important;
  };
}

.navbar-default .navbar-brand {
  font-family: 'P22FLLWTerracotta';
  margin-left: 20px !important;
  font-size: 24px;
}

.navbar-default .navbrand-scroll {
  color: #FFFFFF;
   &:hover {
    color: #F5F5F5;
    cusor: pointer;
  }
}

.navbar-default .navbrand-adjust-scroll {
  color: #404040;
   &:hover {
    color: #111111;
    cusor: pointer;
  }
}

.hero-text-3 {
  height: 100vh;
  margin-top: -9px;
}

.collapse .navbar-collapse .fixed {
  background-color: #000;
}

.carousel-background {
   opacity: 1;
   height: 100vh;
   min-width: 100%;
   z-index: -1;
  }
  
 #carousel {
  position: fixed;
  height: 100vh;
  padding-top: 3px;
 }
 
 .carousel-inner-background  {
   height: 100vh;
 }

 .carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
            -webkit-transition-property: opacity;
            -moz-transition-property: opacity;
            -o-transition-property: opacity;
            transition-property: opacity;
            transition-duration: 1s;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }
      }
    }


 .carousel-inner-background > .item {
   height:100%;
 }
 .carousel-inner-background > .item > img, .carousel-inner-background > .item > a > img {
   min-width: 100%;
   height: 100%;
   object-fit: cover;
   -webkit-transition-property: opacity;
  transition-property: opacity;
  }

@media (max-width: 770px) {

  body {
  padding-top: 50px;
  }
}

.ckeditor-image  {
  &:hover {
    transform: scale(2);
    border: 6px solid #000;
  };
}

@media (max-width: 640px) {
  .ckeditor-image  {
  &:hover {
    transform: scale(1);
  };
}

}

.footer {
    bottom: 0;
    width: 100%;
    height: 150px;
    color: #fff;
    background-color: #022145;
    margin-top: 30px;
    border-top: 15px solid #134D91;
}

.carousel.carousel-fit {
  position: relative;
  /* When sliding, use the maximum height we have */
  /* Center horizontally the content of the slides */
  /* To be centered, the images of the slides need to be inline */
  /* Maximize the captions in the wrapper */
}
.carousel.carousel-fit.slide {
  /* Hide the content outside the carousel when sliding */
  overflow: hidden;
}
.carousel.carousel-fit .carousel-inner > .next,
.carousel.carousel-fit .carousel-inner > .prev {
  bottom: 0;
}
.carousel.carousel-fit .carousel-inner > .item {
  text-align: center;
}
.carousel.carousel-fit .carousel-inner > .item > img {
  display: inline-block;
}
.carousel.carousel-fit .carousel-inner > .item > .carousel-caption {
  bottom: 0;
  left: 0;
  right: 0;
}

.modal.modal-fullscreen {
  /* Maximize the main wrappers on the screen */
  /* Make the parent wrapper of the modal box a full-width block */
  /* Remove borders and effects on the content */
  /**
   * /!\ By using this feature, you force the header and footer to be placed
   * in an absolute position. You must handle by yourself the margin of the
   * content.
   */
}
.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.modal.modal-fullscreen .modal-dialog {
  margin: 0;
  width: 100%;
}
.modal.modal-fullscreen .modal-content {
  border: none;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  -o-box-shadow: inherit;
  box-shadow: inherit;
}
.modal.modal-fullscreen.force-fullscreen {
  /* Remove the padding inside the body */
}
.modal.modal-fullscreen.force-fullscreen .modal-body {
  padding: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  left: 0;
  position: absolute;
  right: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-header {
  top: 0;
}
.modal.modal-fullscreen.force-fullscreen .modal-footer {
  bottom: 0;
}
