@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";


body, html { 
  font-family: 'P22FLLWTerracottaExtras';
  background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;

  }


.navbar-default {
  background-color: transparent;
  border-color: 3px solid #000;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  border-bottom: 3px solid transparent;

  &:hover {
    color: #fff;
    border-bottom: 3px solid red;
  }
}

.collapse .navbar-collapse .fixed {
  background-color: #000;
}

.carousel {
   opacity: .4;
   position: fixed; 
   height: 100%;
   min-width: 100%;
  }
  
 #carousel-example-generic {
   height: 100%;
 }
 
 .carousel-inner  {
   height: 100%;
 }

         .carousel-inner > .item > img, .carousel-inner > .item > a > img {
             min-width: 100%;
             min-height: 100%;
 
          }

.front-title {
  position: absolute;
  top: 25%;
  right: 12%;
  font-family: 'P22FLLWTerracottaExtras';
  font-size: 4rem;
  font-weight: 200;
  color: #fff;
  text-decoration: underline;
  text-shadow: 2px 1px 0px #000;

  
}

@media (max-width: 720px) {
  .front-title {
    font-size: 18px;
  }
}

@media (max-width: 420px) {
  .front-title {
    font-size: 14px;
  }

  .glyphicon-home,
  .glyphicon-tent,
  .glyphicon-signal,
  .glyphicon-scale {
   font-size: 2rem;
  } 
}
