.contact-body {
  background-color: #FFFFFF;
  padding-top: 5rem;
  padding-bottom: 25px;
}

.hero-contact {
  color: #404040;
  font-size: 5rem;
}

.glyphicon-screenshot,
.glyphicon-earphone,
.glyphicon-map-marker {
  color: #404040;
  padding-right: 10px;
}

.form-control-text {
  color: #404040;
  font-size: 2rem;
}

.contact-bullets {
  color: #404040;
  font-size: 2rem;

  &:a {
    color: #404040;
  };
}

.contact-body {
  color: #404040;
}

.address {
  padding-left: 28px;
}

.contact-us {
  font-size: 2rem;
}