.body-design {
  min-height: 100rem;
  margin-bottom: -20px;
  background-color: rgba(0, 0, 0, .6);
}

.body-design-show {
  background-color: rgba(0, 0, 0, .6);
  margin-top: -10px;
}

.design-title {
  font-family: 'P22FLLWTerracotta';
  color: #fff;
  font-size: 10rem;
  text-shadow: 2px 1px 0px #000;
  padding-top: 5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #FFFFFF;

}

.design-title-show {
  color: #fff;
  font-size: 6.5rem;
}

.design-landing {
  font-family: "Helvetica, Ariel";
  padding-top: 50px;
  background-color: #fff;
}

.thumbnail-modified {
  border-radius: 25px;
}

.thumbnail-modified img{
  border-radius: 25px;
}

.design-box {
  width: 33%;
  opacity: 0;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s; 

  img {
    background-color: transparent;
    width: 100%;
    border: 10px solid transparent;
    
    &:hover {
      font-size: 1px;
    }
  };   
}

.design-box:hover .hidden{
  opacity: 1;
  display: block !important;
  padding-left:15px;
  width: 100%;
  position: absolute;
  vertical-align: middle;
  text-align: center; 
  top:35%;

  p {
    font-size: 2rem;
  }
};


.design-box .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  vertical-align: middle;
  text-align: center; 
  top:0;
  background-color: rgba(0, 0, 0, .3);
  a {
    color: #FFFFFF;
  }
};

.design-box .overlay-title {
  width: 100%;
  height: 100%;
  position: absolute;
  vertical-align: middle;
  text-align: center; 
  top:45%;
};

.design-box:hover .overlay {
  opacity: 0;
  display: none;
};

.design-box-show {
  width: 33%;
  img {
    background-color: transparent;
    width: 100%;
    border: 10px solid transparent;
    transition: transform .8s ease-in;
    z-index: -1;
    opacity: .8;
    
    &:hover {
      opacity: 1;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      vertical-align: center;
      -webkit-transform: scale(1.2);
      -ms-transition: all .5s ease-in;
      -ms-transform: scale(1.2);   
      -moz-transition: all .5s ease-in;
      -moz-transform: scale(1.2);
      transition: all .5s ease-in;
      transform: scale(1.2);
      z-index:2 !important;
    }
  }
}


.design-frank-text {
  font-family: 'P22FLLWTerracottaExtra';
  vertical-align: center;
}

/*.design-background {
  background-image: image_url("Piazza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 280px;
  border: 5px solid #fff;
  margin-left: -15px;
  margin-right: -15px;
}*/

/*.design-background-show {
  background-image: image_url("town-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 280px;
  border: 5px solid #fff;
  margin-left: -15px;
  margin-right: -15px;
}*/

.design-build-index {
  color: #fff;
  font-size: 2rem;
}

.read-more {
  color: #fff;
  &:hover {
    color: #0074D9;
    text-decoration: underline;
  };
}

.masonry-portfolio {
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.masonry-portfolio-show {
  width: 100%;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

hr {
  border-top: 1px solid #0074D9;
}

.design-description-show p{
  color: #fff;
  font-size: 2rem;
  line-height: 40px;
  letter-spacing: 3px;
}

.design-description-show h1, h2, h3, h4, h5{
  color: #fff;
} 

.design-description-show img {
}

@media (max-width: 645px) {
  .design-title {
    font-size: 7rem;
  }
}

.fa-plus-square-o {
  color: #FFFFFF;
}

