.services-header {
  font-size: 10rem;
  font-family: 'P22FLLWTerracotta';
  color: #fff;
  /*background-image: image_url("stoplight.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;*/
  border-bottom: 1px solid #FFFFFF;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.services-bullet {
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 6rem;
  color: #fff;
}

.services {
}

@media (max-width: 620px) {
  .services-bullet {
    font-size: 3rem;
    line-height: 5rem;
  }
  li {
    margin-top: 1rem;
  }
    .services-header {
    font-size: 7rem;
  }

}