@keyframes color-me-in {
  10% {
    border-color: #001f3f;
  }
  20% {
    border-color: #FF851B;
  }
  30% {
    border-color: #0074D9;
  }
  40% {
    border-color: #FF4136;
  }
  50% {
    border-color: #7FDBFF;
  }
  60% {
    border-color: #85144b;
  }
  70% {
    border-color: #39CCCC;
  }
  80% {
    border-color: #F012BE;
  }
  90% {
    border-color: #3D9970;
  }
  100% {
    border-color: #B10DC9;
  }
}

$olive: #3D9970;