.hero-about {
  margin-top: 75px;
  font-family: 'P22FLLWTerracottaExtras';
  font-size: 7rem;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 2px 1px 0px #000;
}

.hero-about-2 {
  font-family: 'P22FLLWTerracottaExtras';
  font-size: 7rem;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 2px 1px 0px #000;
}

.column-adjust {
  margin-right: 15%;
  margin-left: 15%;
  display: block;
  clear: both;
}

.front-title {
  margin-top: 10rem;
  font-family: 'P22FLLWTerracotta';
  font-weight: 200; 
  font-size: 13rem;
  color: #fff;
  text-shadow: 2px 1px 0px #000;  
}

.architecture-border {
  font-family: 'P22FLLWTerracotta';
  font-weight: 400; 
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 1px 0px #000;  
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  letter-spacing: 48px;
  margin-top: -30px;
}

.translating-front-text {
  font-family: 'P22FLLWTerracotta';
  font-weight: 400; 
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 1px 0px #000;  
  letter-spacing: 4px;
  margin-top: 10px
}


.col-adjust {
  margin-top: 12rem;
  background: rgba(0, 0, 0, 0.7);
  height: 500px;
  padding-top: 25px;
}

.point-title {
  font-family: 'P22FLLWTerracotta';
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 1px 0px #000;
  border-bottom: 1px solid #A00000;
  padding-bottom: 25px;
}

.latin {
  font-family: 'P22FLLWTerracottaExtra';
  color: #fff;
  font-size: 8rem;
}

.latin-mid {
  font-family: 'P22FLLWTerracottaExtra';
  color: #000;
  font-size: 15rem;
}

.point-description {
  padding-top: 25px;
  font-weight: 600;
  color: #fff;
  font-size: 2.35rem;
}

.about-body {
  color: #fff;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.8);
}

.about-body-michael {
  color: #fff;
  margin-top: 5rem;
  margin-bottom: 10rem;
  font-size: 3rem;
}

.about-heading {
  font-size: 8rem;
  font-weight: 400;
  border-bottom: 1px solid #A00000;
}

.about-mid-2 {
  margin-right: 8rem;
}

.col-adjust-mid {
  min-height: 450px;
  color: #000;
  background: rgba(255, 255, 255, 0.6);
  padding-bottom: 50px;

}

.media-heading-adjust {
  color: #000;
  font-weight: 500;
  font-size: 8rem;
  text-shadow: 2px 1px 0px #000;
}
 
.front-testimonial {
  font-size: 2.5rem;
  font-weight: 600
}

.thumbnail-background {
  background: rgba(255, 255, 255, 1.0);
}

.thumbnail {
  border: none;
  padding: 0px;
  margin-top: 50px;
}

.col-adjust-footer {
  background: rgba(0, 0, 0, .7);
  height: 225px;
  border-top: 5rem solid rgba(255, 255, 255, .1);
}

.footer-information {
  padding-top: 15px;
  color: #fff;
  font-size: 2rem;
}

.latin-footer {
  font-family: 'P22FLLWTerracottaExtra';
  color: #fff;
  font-size: 5rem;
}

.about-header-image {
  background-image: image_url("Florence.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 250px;
  border: 5px solid #fff;
  margin-left: -15px;
  margin-right: -15px;
}

.about-header-mike {
  background-image: image_url("roma-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 250px;
  border: 5px solid #fff;
  margin-left: -15px;
  margin-right: -15px;
}

.hire-me {
  min-height: 200px;
  background-color: rgba(0, 0, 0, .8);
  position: relative;
  z-index: 1;
}

.hire-me-text {
  margin-top: 70px;
  padding-top: 3px;
  background-color: rgba(153, 0, 0, 1);
  width: 33%;
  height: 5rem;
  margin-left: 33%;
  font-size: 3rem;
  color: #fff;
  border: 2px solid #fff;
  vertical-align: center;
  letter-spacing: 10px;
  border-radius: 5px;

  &:hover {
    box-shadow: 3px 3px 5px #000 inset;
    color: #fff;
    text-decoration: none;
  };
}

@media (max-width: 991px) {
  .architecture-border {
    letter-spacing: 45px;
    padding-left: 15px;
  }

  .front-mid {
    margin-top: 10rem;
  }

  .col-adjust{
    height: auto;
    margin-top: -1rem;
    padding-top: 0px;
  }

  .col-adjust-footer {
    height: auto;
  }

  .col-adjust-mid {
    padding-top: -20px !important;

  }
}

@media (max-width: 770px) {

  .architecture-border {
    letter-spacing: 40px;
  }
}

@media (max-width: 695px) {

  .front-title {
    font-size: 10rem;
  }

  .architecture-border {
    letter-spacing: 30px;
  }
}

@media (max-width: 645px) {
    .hire-me-text {
    width: 55%;
    height: 5rem;
    margin-left: 22.5%;
  }


  .front-title {
    font-size: 8rem;
  }

  .architecture-border {
    letter-spacing: 27px;
    margin-top: -20px;
    font-size: 2.5rem;
  }

  .translating-front-text {
    font-size: 2rem; 
    letter-spacing: 4px;
  }

  .media-heading-adjust {
    font-size: 5rem;
    text-shadow: none;
  }
}

@media (max-width: 500px) {

  .front-title {
    font-size: 7rem;
  }

  .architecture-border {
    letter-spacing: 23px;
    margin-top: -20px;
    font-size: 2rem;
  }

  .translating-front-text {
    font-size: 1.75rem; 
    letter-spacing: 4px;
  }
}



@media (max-width: 480px) {

  .front-title {
    font-size: 5rem;
  }

  .architecture-border {
    letter-spacing: 15px;
    margin-top: -16px;
    font-size: 1.75rem;
  }

  .translating-front-text {
    font-size: 1.5rem; 
    letter-spacing: 3px;
  }

  .latin-mid {
    font-size: 10rem;
  }
}