@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0)}
  40% {transform: translateY(-30px)}
  60% {transform: translateY(-15px)}
}

.services-offered {
  height: 100rem;
}

.services-offered-image {
  background-color: #404040;
  height: inherit;

}


.services-offered-text {
  background-color: #FF851B;
  padding-top: 5rem;
  padding-top: 5rem;
  color: #404040;
  font-size: 42px;
  line-height: 2;
}

.services-bullet {
  background-color: #505050;
  padding-top: 10rem;
  color: #FFFFFF;
}

.review-text {
  padding-bottom: 7rem;
  font-size: 65px;
  vertical-align: center;
  text-align: center;
}

.modal.modal-fullscreen .modal-content {
  background: rgba(0, 0, 0, .5);
}
.modal.modal-fullscreen .modal-header {
  border: 0;
  color: #fff;
}
.modal.modal-fullscreen .modal-footer {
  border-color: rgba(0, 0, 0, .5);
}
#myModal .carousel-caption {
  background-color: rgba(0, 0, 0, .5);
  bottom: -100%;
  padding-bottom: 45px;
  -webkit-transition: bottom 1s;
  transition: bottom 1s;
}
#myModal .item.active >.carousel-caption {
  bottom: 0;
}

.carousel.carousel-fit.slide {
  margin-top: 10% !important;
}

.fixme {
  display: none !important;
  top: 40%;
  right: 50%;
  position: absolute;

  &:hover {
    display: block;
  };
}


.hero-about {
  margin-top: 75px;
  font-family: 'P22FLLWTerracottaExtras';
  font-size: 7rem;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 4px 2px 5px #000;
}

.hero-about-2 {
  font-family: 'P22FLLWTerracottaExtras';
  font-size: 7rem;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 4px 2px 5px #000;
}

.front-display {
  bottom: 0;
  right: 0;
  position: absolute;
}

.front-display-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.column-adjust {
  margin-right: 15%;
  margin-left: 15%;
  display: block;
  clear: both;
}

.animate-title {
  opacity: .1;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s; 
}

.front-title {
  bottom: 0;
  left: 0;
  font-family: 'P22FLLWTerracotta';
  font-weight: 400; 
  font-size: 24px;
  color: #FFFFFF;
  text-shadow: 2px 1px 0px #000;  
  letter-spacing: 20px;
}

.architecture-border {
  bottom: 0;
  padding-left: 63px;
  margin-bottom: 14rem;
  margin-left: auto;
  font-family: 'P22FLLWTerracotta';
  font-weight: 400; 
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: 2px 1px 0px #000;  
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  letter-spacing: 48px;
}

.translating-front-text {
  padding-right: 55px;
  margin-bottom: 10rem;
  bottom: 0;
  font-family: 'P22FLLWTerracotta';
  font-weight: 400; 
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: 2px 1px 0px #000;  
  letter-spacing: 7px;
  margin-top: 10px
}

.second-part-description-test {

}

.col-adjust {
 -webkit-box-shadow: 4px -4px 4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px -4px 4px 3px rgba(50, 50, 50, 0.75);
  box-shadow:         4px -4px 4px 3px rgba(50, 50, 50, 0.75);
  background-color: #505050;
  height: auto;
  margin-top: 9px;
  padding-bottom: 5rem;
}

.col-adjust-img {
  img { 
    -webkit-filter: grayscale(2);
    filter: grayscale(2);
    border-radius: 100%;
    color: rgba(0, 0, 0, .9);
    object-fit: cover;
    height: 135px;
    width: 135px;
    margin-bottom: 2rem;
    z-index: -2;

    &:hover {
    -webkit-filter: grayscale(2);
    filter: grayscale(0);

      color: rgba(0, 0, 0, .1);
      cursor: pointer;
    };    
  }
}

.blank-space {
  height: 500px;
}

.blank-space > .blank-space-latin {
  font-family: 'P22FLLWTerracottaExtra';
  color: #FFFFFF;
  font-size: 30rem;
}

.latest-work {
  border-top: 10px solid #AAAAAA;
  border-bottom: 10px solid #AAAAAA;
  padding-bottom: 25px;
  background-color: #FFFFFF;
  img {
    border: 2px solid #111111;
    width: 100%;
    border-radius: 5px
}

.latest-animate {
  img {
    margin-top: 11%;
  }
  
}

.latest-work-header {
  font-size: 18px;
  color: #AAAAAA;
  font-family: "source-sans-pro", sans-serif;
}

.latest-work-description {
  font-family: "source-sans-pro", sans-serif;
  font-size: 2rem;
  color: #AAAAAA;

  a {
    font-size: 3rem;
    font-family: "source-sans-pro", sans-serif;
    color: #AAAAAA;
  }
}

}
.point-title {
  font-family: 'P22FLLWTerracotta';
  font-size: 4rem;
  color: #fff;
  text-shadow: 2px 1px 0px #000;
  border-bottom: 1px solid #fff;
  padding-bottom: 25px;
}

.latin {
  font-family: 'P22FLLWTerracottaExtra';
  color: #3D9970;
  font-size: 10rem;
  text-shadow: 2px 1px 0px #000;
}

.section-review {
  border-top: 1px solid #FFFFFF
}

.animate-review {
  opacity: .1;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.65s ease-in-out;
  -moz-transition: all 0.65s ease-in-out;
  transition: all 0.65s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s; 
}

.latest-animate {
  background-color: #FFFFFF;
  opacity: .1;
  -webkit-transform: scaleX(0.9) translateY(3rem);
  -moz-transform: scaleX(0.9) translateY(3rem);
  transform: scaleX(0.9) translateY(3rem);
  -webkit-transition: all 0.65s ease-in-out;
  -moz-transition: all 0.65s ease-in-out;
  transition: all 0.65s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;

}

.latest-project-title, a {
  color: #FFFFFF;
  text-decoration: none;

  &:hover, &:focus {
  color: #FFFFFF;
  text-decoration: underline;
}
}

.latin-mid {
  font-family: 'P22FLLWTerracottaExtra';
  color: #fff;
  font-size: 20rem;
}

.point-description-alpha {
  background-color: #404040;
  height: auto;
  padding-bottom: 5rem;
}

.point-description {
  margin-top: 5rem;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 1.75;
}

.about-body {
  color: #fff;
  font-size: 2rem;
  line-height: 40px;
  letter-spacing: 3px;
}

.about-body-michael {
  color: #fff;
  margin-top: 5rem;
  margin-bottom: 10rem;
  font-size: 1rem;
}

.about-heading {
  font-size: 8rem;
  font-weight: 400;
  border-bottom: 1px solid #0074D9;
}

.about-mid-2 {
  margin-right: 8rem;
}

.col-adjust-mid {
  min-height: 450px;
  color: #fff;
  padding-bottom: 50px;
}

.media-heading-adjust {
  color: #fff;
  font-weight: 500;
  font-size: 8rem;
  text-shadow: 2px 1px 0px #000;
}
 
.front-testimonial {
  font-size: 2rem;
  line-height: 40px;
}

.thumbnail-background {
  background: rgba(255, 255, 255, 1.0);
}

.thumbnail {
  border: none;
  padding: 0px;
  margin-top: 50px;
}

.col-adjust-footer {
  background: transparent;
  height: 225px;
  border-top: 1px solid #0074D9;
}

.footer-information {
  padding-top: 15px;
  color: #fff;
}

.latin-footer {
  font-family: 'P22FLLWTerracotta';
  font-size: 5rem;
  color: #fff;
}

.latin-ala {
  font-family: 'P22FLLWTerracotta';
  font-size: 7rem;
  color: #fff;
}

.about-header-image {

  padding-top: 10rem;
}

.about-header-mike {
  padding-top: 3rem;
}

.about-me {
  padding-bottom: 5rem;
}

.mike-portfolio-picture {
  background-image: image_url("michael.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  float:left;
  background-position: center center;
  margin-left: 15px;
  margin-right: 25px;
  margin-top: 12rem;
}

.hire-me {
  font-size: 5rem;
  font-family: 'P22FLLWTerracotta';
  color: #fff;
/*  background-image: image_url("michael.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;*/
  height: auto;
  border-top: 1px solid #FFFFFF;
  padding-bottom: 5rem;
  a {
    color: #FFFFFF;
    text-decoration: underline;
    -webkit-transition: all 0.10s ease-in-out;
    -moz-transition: all 0.10s ease-in-out;
    transition: all 0.10s ease-in-out;
    webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
    transition-timing-function: ease-in-out;
    &:hover {
      color: rgb(0,116,217);
      -webkit-transition: all 0.10s ease-in-out;
      -moz-transition: all 0.10s ease-in-out;
      transition: all 0.10s ease-in-out;
      webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
      transition-timing-function: ease-in-out;
      cusor: pointer;
      -webkit-transform: scale(1.2);
    }
  }
}



.ala-certificate {
  background-color: rgba(255, 255, 255, .6);
}

.ala-image img {
  height: 150px;
}
@media (max-width: 991px) {

  .hire-me {
    padding-top: 50px;
  } 

  .front-mid {
    height:500px;
  }

  .col-adjust{
    height: auto;
    margin-top: -1rem;
    padding-top: 0px;
    border-bottom: none;
    padding-bottom: 4rem;
  }

  .col-adjust-footer {
    height: auto;
  }

  .col-adjust-mid {
    padding-top: -20px !important;

  }
}

@media (max-width: 776px) {

  .architecture-border {
    letter-spacing: 40px;
  }

  .translating-front-text {
      font-size: 16px;
    }
  .front-title {
    font-size: 24px;
  }
}

@media (max-width: 695px) {

}

@media (max-width: 648px) {
  .front-title {
    padding-left: 79px;
  }

  .architecture-border {
    letter-spacing: 30px;
  }

  .translating-front-text {
      font-size: 12px;
      padding-right: 8px;
    }


  .latin {
    font-size: 10rem;
  }

    .hire-me-text {
      margin-top: 0px;
      height: 100%;
  }

  .media-heading-adjust {
    font-size: 5rem;
    text-shadow: none;
  }
}

@media (max-width: 540px) {
  .services-offered {
    height: auto;
    padding-bottom: 10rem !important;
  }
  .front-title {
    font-size: 22px;
  }

  .footer-information {
    padding-bottom: 5rem;
  }
}

.about-heading {
  font-size: 7rem;
}

@media (max-width: 480px) {

  .architecture-border {
    letter-spacing: 16px;
  }

  .latin {
    margin-top: 0;

  }

  .front-title {
    font-size: 22px;
  }

  .latin-mid {
    font-size: 10rem;
  }
  .carousel.carousel-fit.slide {
    margin-top: 50% !important;
  }

}
@media (min-width: 1060px) {
  .col-adjust-img {
    img { 
      height: 160px;
      width: 160px;  
    }
  }
}
@media (min-width: 1190px) {
  .col-adjust-img {
    img { 
      height: 180px;
      width: 180px;  
    }
  }
}

@media (min-width: 1310px) {
  .col-adjust-img {
    img { 
      height: 200px;
      width: 200px;  
    }
  }
}

@media (min-width: 1500px) {
  .col-adjust-img {
    img { 
      height: 235px;
      width: 235px;  
    }
  }
}






.arrow  {
  position: absolute;
  bottom: 0;
  left: 47%;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 100;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@function multiple-box-shadow ($n){  
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value)
}

$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);

    
#stars{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation     : animStar 50s linear infinite;
    
  &:after{
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;}
  }
    
#stars2{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation     : animStar 100s linear infinite;
    
  &:after{
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;}
    }
#stars3{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation     : animStar 150s linear infinite;
    
  &:after{
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
      }
    }

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}